

.row{
    display: flex;
}

.cell{
    /* background-color: rgb(230, 199, 199);
     */
     background:  rgb(131, 131, 131);
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}

.border{
    background-color:rgb(251, 162, 130);
    width: 30px;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
}